{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Hello world!</h1>
        <img src="https://cs8.pikabu.ru/post_img/2016/01/29/9/1454080627143828490.png" class="img-fluid" alt="...">
    </div>
{% endblock %}
